[submodule "interncomp-frontend"]
	path = interncomp-frontend
	url = https://github.com/InternComp/interncomp-frontend.git
	branch = main
[submodule "interncomp-backend"]
	path = interncomp-backend
	url = https://github.com/InternComp/interncomp-backend.git
	branch = main
[submodule "interncomp-documentation"]
	path = interncomp-documentation
	url = https://github.com/InternComp/interncomp-documentation.git
	branch = main
